#Users{
    display: flex;
    flex-direction: column;
    position:inherit;
  }

  #Users #User{
    background-color: #eff0f3;
    margin: 10px;
    margin-bottom: 0; 
    padding: 3em;
    border-bottom: 3px solid #bbc1d1;
    height: 2em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

  }
  #Users #User .usernameClient::before{ 
    content: "Username :";
  }
  #Users #User .nameClient::before{ 
    content: "Name :";
  }
  #Users #User .usernameClient{ 
    text-align: left;
  }
#Users > #User div{ 
    text-align: center;
  }
  #Users #User .nameClient{ 

  }